@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

.header {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
}

.right-links {
  margin-left: auto;
}

.left-links {
  padding-left: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.footer {
  background-color: #EDEDED;
  display: flex;
  margin-top: auto;
  padding-left: 16px;
  padding-right: 16px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 12px 8px 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}